In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('data.csv')

In [40]:
import numpy as np

In [41]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [42]:
np.random.permutation(7)

array([1, 4, 5, 3, 2, 6, 0])

In [43]:
train, test = data_split(df, 0.2)

In [44]:
train

,Fever,BodyPain,Age,RunningNose,DifficultBreath,InfectionProbablity
1103,100.706273,0,29,0,1,1
1569,100.027603,0,48,0,-1,0
2229,100.647213,1,38,0,0,0
2296,101.945879,0,62,0,0,0
1800,101.955067,1,81,0,1,1
...,...,...,...,...,...,...
1638,98.360985,1,9,0,-1,0
1095,99.313694,1,8,1,0,0
1130,99.219583,0,71,1,-1,1
1294,98.891890,1,13,0,-1,0
860,100.588352,1,63,1,0,1

In [45]:
test

,Fever,BodyPain,Age,RunningNose,DifficultBreath,InfectionProbablity
1376,101.481772,1,32,0,1,0
932,99.701142,0,83,1,-1,0
144,98.382877,1,27,0,1,1
1752,101.596486,1,69,1,1,1
51,101.711818,1,55,0,-1,0
...,...,...,...,...,...,...
842,101.283859,1,99,0,0,0
637,99.247304,1,76,1,-1,1
695,98.136334,1,29,0,1,1
226,101.914375,0,24,0,-1,1
2603,99.618716,1,68,1,-1,0

In [46]:
X_train = train[['Fever', 'BodyPain', 'Age', 'RunningNose', 'DifficultBreath']].to_numpy()
X_test = test[['Fever', 'BodyPain', 'Age', 'RunningNose', 'DifficultBreath']].to_numpy()

In [47]:
Y_train = train[['InfectionProbablity']].to_numpy().reshape(2400,)
Y_test = test[['InfectionProbablity']].to_numpy().reshape(599,)

In [48]:
from sklearn.linear_model import LogisticRegression

In [49]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

D:\Software and Applications\Anaconda\Installation\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [50]:
inputFeatures = [100, 1, 22, 1, 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [51]:
infProb

0.48081074839832605